[submodule "source/swef/components/ebtn"]
	path = source/swef/components/ebtn
	url = https://github.com/saawsm/ebtn
[submodule "source/swef/components/led_strip"]
	path = source/swef/components/led_strip
	url = https://github.com/saawsm/led_strip
[submodule "source/swef/components/hagl"]
	path = source/swef/components/hagl
	url = https://github.com/saawsm/hagl
[submodule "source/swef/components/hagl_hal"]
	path = source/swef/components/hagl_hal
	url = https://github.com/saawsm/hagl_esp_mipi
[submodule "source/swx/lib/freertos"]
	path = source/swx/lib/freertos
	url = https://github.com/saawsm/FreeRTOS-Kernel
[submodule "source/swx/lib/libfixmath"]
	path = source/swx/lib/libfixmath
	url = https://github.com/saawsm/libfixmath
