CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

CONFIG_SPIFFS_OBJ_NAME_LEN=64

# Button and encoder polling intervals
CONFIG_EBTN_POLLING_INTERVAL_MS_BTN=30
CONFIG_EBTN_POLLING_INTERVAL_US_ENC=2500

# HAGL
CONFIG_MIPI_DCS_ADDRESS_MODE_MIRROR_X=0x00
CONFIG_MIPI_DCS_ADDRESS_MODE_MIRROR_Y=0x80
CONFIG_MIPI_DCS_ADDRESS_MODE_MIRROR_Y_SELECTED=y

CONFIG_MIPI_DCS_ADDRESS_MODE_SWAP_XY_SELECTED=y
CONFIG_MIPI_DCS_ADDRESS_MODE_SWAP_XY=0x20

CONFIG_MIPI_DCS_ADDRESS_MODE_FLIP_X=0x00
CONFIG_MIPI_DCS_ADDRESS_MODE_FLIP_Y=0x00

CONFIG_MIPI_DCS_PIXEL_FORMAT_16BIT_SELECTED=y
CONFIG_MIPI_DISPLAY_PIXEL_FORMAT=0x55

CONFIG_HAGL_HAL_USE_DOUBLE_BUFFERING=y

CONFIG_MIPI_DISPLAY_WIDTH=160
CONFIG_MIPI_DISPLAY_HEIGHT=128
CONFIG_MIPI_DISPLAY_OFFSET_X=0
CONFIG_MIPI_DISPLAY_OFFSET_Y=0
CONFIG_MIPI_DISPLAY_INVERT=n

CONFIG_MIPI_DISPLAY_SPI_CLOCK_SPEED_HZ=48000000
CONFIG_MIPI_DISPLAY_EXCLUSIVE_BUS=n

CONFIG_MIPI_DISPLAY_PIN_MISO=19
CONFIG_MIPI_DISPLAY_PIN_MOSI=23
CONFIG_MIPI_DISPLAY_PIN_CLK=18
CONFIG_MIPI_DISPLAY_PIN_CS=5
CONFIG_MIPI_DISPLAY_PIN_DC=22
CONFIG_MIPI_DISPLAY_PIN_RST=0
CONFIG_MIPI_DISPLAY_PIN_BL=13
